name: "nextjs-practical-cases"

services:
  notes-db:
    container_name: notes-db
    image: postgres:16
    restart: always
    # set shared memory limit when using docker-compose
    shm_size: 128mb
    # or set shared memory limit when deploy via swarm stack
    #volumes:
    #  - type: tmpfs
    #    target: /dev/shm
    #    tmpfs:
    #      size: 134217728 # 128*2^20 bytes = 128Mb
    environment:
      - POSTGRES_PASSWORD=123456
    ports:
      - 5432:5432

  notes-adminer:
    container_name: notes-adminer
    image: adminer
    restart: always
    ports:
      - 8080:8080
